@model ChangePasswordViewModel
@{
	Layout = "_Layout";
}


<div class="back">
	<div class="container">
		<h2 class="text-center">Изменить пароль</h2>
		<div>
			<form method="post" asp-action="ChangePassword" asp-controller="User">
				<div class="text-danger" asp-validation-summary="ModelOnly"></div>
				<div>
					<div class="reg-form">
						<div class="form-group">
							<input placeholder="Введите новый пароль" class="reg-input" asp-for="NewPassword"/>
							<span asp-validation-for="NewPassword"></span>
						</div>

						<div class="form-group">
							<input placeholder="Подтвердите новый пароль" class="reg-input" asp-for="ConfirmNewPassword"/>
							<span asp-validation-for="ConfirmNewPassword"></span>
						</div>

						<div>
							<input type="submit" class="reg-button" value="Сменить пароль"/>
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>

